name: repoaudit CI

on:
  pull_request:
  push:

permissions: {}

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
        with:
          persist-credentials: false
      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v3
      - name: Install Poetry
        uses: snok/install-poetry@76e04a911780d5b312d89783f7b1cd627778900a # v1
      - name: Install dependencies
        working-directory: ./repoaudit
        run: poetry install
      - name: Check flake8
        working-directory: ./repoaudit
        run: poetry run flake8 .
      - name: Check black
        working-directory: ./repoaudit
        run: poetry run black --check --diff .
      - name: Check isort
        working-directory: ./repoaudit
        run: poetry run isort -c .

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
        with:
          persist-credentials: false
      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v3
      - name: Install Poetry
        uses: snok/install-poetry@76e04a911780d5b312d89783f7b1cd627778900a # v1
      - name: Install dependencies
        run: |
          cd repoaudit && poetry install
      - name: Test repoaudit
        run: |
          cd repoaudit && poetry run repoaudit --help
