name: repoaudit CI

on:
  pull_request:
  push:

permissions: {}

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4
        with:
          persist-credentials: false
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v3
      - name: Install Poetry
        uses: snok/install-poetry@76e04a911780d5b312d89783f7b1cd627778900a # v1
      - name: Install dependencies
        working-directory: ./repoaudit
        run: poetry install
      - name: Check flake8
        working-directory: ./repoaudit
        run: poetry run flake8 .
      - name: Check black
        working-directory: ./repoaudit
        run: poetry run black --check --diff .
      - name: Check isort
        working-directory: ./repoaudit
        run: poetry run isort -c .

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4
        with:
          persist-credentials: false
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v3
      - name: Install Poetry
        uses: snok/install-poetry@76e04a911780d5b312d89783f7b1cd627778900a # v1
      - name: Install dependencies
        run: |
          cd repoaudit && poetry install
      - name: Test repoaudit
        run: |
          cd repoaudit && poetry run repoaudit --help
