# https://github.com/woodruffw/zizmor
name: GitHub Actions Security Analysis with Zizmor

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["*"]
  schedule:
    - cron: '43 1 * * *'

permissions:
  contents: read

jobs:
  zizmor:
    name: Zizmor latest via Cargo
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
        with:
          persist-credentials: false
      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1
      - name: Get zizmor
        run: cargo install --locked zizmor
      - name: Run zizmor
        run: zizmor --format sarif . > results.sarif
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v3
        with:
          # Path to SARIF file relative to the root of the repository
          sarif_file: results.sarif
          # Optional category for the results
          # Used to differentiate multiple results for one commit
          category: zizmor
      - name: Check zizmor results
        run: |
          problems=$(zizmor -q --format json . | jq 'length')
          if (( $problems > 0 )); then
            echo "Found problem(s) with zizmor:"
            zizmor --format plain .
            exit 1
          fi
